<%- include('../layouts/ejs/head.ejs') %>
    <link rel="stylesheet" href="/css/forms.css">
    <link rel="stylesheet" href="/css/auth.css">
</head>

<body>
    <%- include('../layouts/ejs/nav.ejs') %>

    <main>
        <% if(errorMessage) { %>
            <div class="user-message user-message--error"><%= errorMessage %></div>
        <% } %>
        <form class="login-form" action="/new-password %>" method="POST">
            <div class="form-control">
                <label for="password">Password</label>
                <input type="password" name="password" id="password" value="<%= oldValue.newPassword %>">
            </div>
            <div class="form-control">
                <label for="confirmPassword">Confirm Password</label>
                <input type="password" name="confirmPassword" id="confirmPassword" value="<%= oldValue.newConfirmPassword %>">
            </div>

            <!-- the name attribute has to be exact "_csrf" because that's the value that passed to controller by csrf-csrf -->
            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
            
            <!-- getting this userId and passwordToken from getController that used to pass on post controller -->
            <input type="hidden" name="userId" value="<%= userId %>">
            <input type="hidden" name="passwordToken" value="<%= passwordToken %>">
            <button class="btn" type="submit">Reset Password</button>
        </form>
    </main>
<%- include('../layouts/ejs/end.ejs') %>