<%- include('../layouts/ejs/head.ejs') %>
    <link rel="stylesheet" href="/css/product.css">
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    <%- include('../layouts/ejs/nav.ejs') %>

    <main>
        <% if(prods.length > 0) { %>
            <div class="grid">
                <% for(let product of prods) { %>
                    <article class="card product-item">
                        <header class="card__header">
                            <h1 class="product__title"><%= product.title %></h1>
                        </header>
                        <div class="card__image">
                            <img src="<%= product.image %>" alt="<%= product.title %>">
                        </div>
                        <div class="card__content">
                            <h2 class="product__price">$<%= product.price %></h2>
                            <p class="product__description"><%= product.description %></p>
                        </div>
                        <div class="card__actions">
                            <!-- This code use with mongodb database where the collection named the id as an _id -->
                            <a href="/products/<%= product._id %>" class="btn">Details</a>
                            <!-- This code use with sequelize database where the table has a column name an id -->
                            <!-- <a href="/products/<%= product.id %>" class="btn">Details</a> -->
                            <%- include('../layouts/ejs/add-to-cart.ejs', {product: product}) %> <!-- The left product on "include('../layouts/ejs/add-to-cart.ejs', {product: product})" is a variable to pass in 'add-to-cart' ejs file. While the right product is a value to be pass from this file  -->
                        </div>
                    </article>
                <% } %>
            </div>
            <%- include('../layouts/ejs/pagination.ejs', {currentPage: currentPage, hasNextPage: hasNextPage, hasPreviousPage: hasPreviousPage, nextPage: nextPage, previousPage: previousPage, lastPage: lastPage}) %>
        <% } else { %>
            <h1>No Product</h1>
        <% } %>
    </main>
<%- include('../layouts/ejs/end.ejs') %>